/*
* Common Variables
*/
$color-1: #000 !default;
$color-2: #fff !default;
$color-3: #61aaae;
$color-4: #2d2d2d;
$color-5: grey;


$margin-1: 10px;
$margin-2: 20px;
$margin-3: 30px;
$margin-4: 40px;


$font-1: "brandon-grotesque", sans-serif;
$font-2: $font-1;

$res-url: "";

$header-height: 80px;

/****************************
*****************************
**** COMPONENT VARIABLES ****
*****************************
*****************************/

//FOOTER COMPONENT
